pracaInz/force-app/main/default/flows/Create_Company_Product_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_values_to_company_product</name>
        <label>Assign values to company product</label>
        <locationX>752</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>CompanyProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyProduct.Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyProduct.Brand_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brand_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyProduct.Product_Characteristics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Characteristics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyProduct.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Company_Product</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>test</name>
        <choiceText>{!Quality}</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>QualityPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quality__c</picklistField>
        <picklistObject>Company_Product__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Company Product From Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Company Product From Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Company_Product</name>
        <label>Create Company Product</label>
        <locationX>1435</locationX>
        <locationY>572</locationY>
        <inputReference>CompanyProduct</inputReference>
    </recordCreates>
    <screens>
        <name>New_Company_Product</name>
        <label>New Company Product</label>
        <locationX>1174</locationX>
        <locationY>292</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_to_company_product</targetReference>
        </connector>
        <fields>
            <name>Company_Product_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quality</name>
            <choiceReferences>QualityPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Company_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Brand_Name</name>
            <dataType>String</dataType>
            <fieldText>Brand Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Characteristics</name>
            <fieldText>Product Characteristics</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1054</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>New_Company_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CompanyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Company_Product__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
