pracaInz/force-app/main/default/flows/Create_Contract_When_Opportunity_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Fill_Contract_fields</name>
        <label>Fill Contract fields</label>
        <locationX>689</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Contract When Opportunity Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract When Opportunity Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>1080</locationX>
        <locationY>588</locationY>
        <inputReference>Contract</inputReference>
    </recordCreates>
    <start>
        <locationX>1018</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Fill_Contract_fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
